CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build
hartebeest
.vscode
dump*.txt
dump*.csv
./experiments/redis-7.0.5
./experiments/memcached-1.5.19